

    <div class="cards-container">
        <div class="row">
            <div class="recent-container">
            <div class="col-md-12">
                <div class="recent col-md-4 col-md-offset-4">Recently cleaned places</div>
            </div>
            </div>
            <div ng-repeat="complete in completed">
            <div class="col-md-4 col-xs-12 card-container">
                <div class="card">
                    <h3 class="posted">Posted by <span style="color: #22e675; font-size: 20px">{{complete.name}}</span></h3>
                    <hr>
                    <div class="location row">
                        <div class="col-md-1 col-xs-1"><img src="static/images/location.png" title="{{complete.title}}"></div><div class="col-md-10 col-xs-10 location-name">{{complete.location}}</div>
                    </div>
                    <div class="card-image"><img ng-src="{{complete.imageUrl}}"></div>
                    <div class="cleaned-date text-center">Cleaned on {{complete.cleaned}}</div>
                </div>
            </div>

        </div>
    </div>
    </div>


