.page-title{
    position: relative; top:-300px;
}

.cards{
    position:relative; top:-100px;
}

.custom-card{

}

.backg{
    background: rgba(0,0,0,0.5);
     width: 100%;
}

.main-title{
    font-size: 72px !important;
}