*{
    font-family: Montserrat; font-size: 36px; font-weight:400;
}

.navbar{
    padding: 10px;
}
.navbar-brand{
    font-size: 36px; color: #000000 !important;
}

.main-image-container{
    position: relative; height: 100%;
}

.content-container{
     background:#22e675;  position: relative; width: 100%;
}

.cards-container{
    margin: 50px; margin-left: 100px; margin-right: 100px;

}

@media (max-width: 600px) {
    .cards-container{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
    }
}
.card-custom{
    background: #ffffff; margin: 5px; padding: 10px; box-shadow: 0 0 10px 0; overflow: hidden;
}

.location{
    padding: 10px;

    padding-top: 0px;
}

.location img{
    width: 30px;
    position: absolute; top: 0;
}

.location-name{
    font-size: 12px; margin: 5px;
}

.location-image{
    margin: 0px; padding: 0px;
}
.location-image img{
    width: 90%; padding: 0; margin: 0;
}


/*Cards*/

card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card .card-title.activator {
    cursor: pointer;
}

.card.small, .card.medium, .card.large {
    position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 60%;
    overflow: hidden;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
    max-height: 40%;
    overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: inherit;
}

.card.small {
    height: 300px;
}

.card.medium {
    height: 400px;
}

.card.large {
    height: 500px;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content .card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block;
}

/*End of cards*/

.cleaned-date{
    font-size: 18px; padding: 10px; color:#22e675;
}

.posted{
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
}
hr {

    margin-left: 20px;
    margin-right: 20px;
    margin-top:-5px;
    margin-bottom: 10px;
    border-top: 1px solid #000;

}

.card .card-image  {
    height: 250px; overflow: hidden;
}
.custom-style-for-right-nav li{
    font-size: 14px;
    padding: 10px;
}

.login{
    color: #22e675;
}

.get-involved{
    background: #22e675;
    color: #ffffff;

}

.custom-brand{
    font-size: 26px;
}

.custom-navbar{
    border: 0;
    background: #ffffff;
}

/*Homepage Animation*/
.main-image{
    width: 100%; text-align: center;
    position: relative; bottom:-300px;
}

.main-image img{
    width: 50%;
}

@media (max-width: 600px) {
    .main-image{
        bottom: -320px;
    }
    .main-image img{
        width: 100%;
    }
}

.earth_heart img{
    width: 100px; position: absolute; top: 25%; left: 48%;
}

.earth_location1 img,.earth_location2 img{
    width: 100px;
}

@media (max-width: 600px) {
    .earth_heart img{
        width: 50px; position: absolute; top: 25%; left: 42%;
    }

    .earth_location1 img,.earth_location2 img{
        width: 50px;
    }
}
.earth_location1 img{
    position: absolute; top: 150px; left: 30%;
}

.earth_location2 img{
    position: absolute; top: 200px; left: 60%;
}