<!-- Renders post date, title, and snippet of text. -->
<li class="prose">
  <div style="display: flex; flex-direction: row; align-items: center;">

    <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}"
      href="{{ post.url | prepend: site.baseurl }}">{{
      post.title }}</a>
    &nbsp;-&nbsp;
    <a class="no-underline-hover h5 block" title="{{ post.url | prepend: site.baseurl }}"
      href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  </div>


</li>