<!-- Renders post date, title, and snippet of text. -->
<li class="prose">
  <div style="" class="lg-row sm-column">

    <a class="link-primary" title="{{ post.url | prepend: site.baseurl }}"
      href="{{ post.url | prepend: site.baseurl }}">{{
      post.title }}</a>
    <span class="spacer">&nbsp;-&nbsp;</span>
    <a class="no-underline-hover h5 block" title="{{ post.url | prepend: site.baseurl }}"
      href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  </div>


</li>