// Dark theme

// Color variables
$black: #2B2826;
$gray-dark: #423F38;
$gray: #A09992;
$gray-light: #D7D5D1;
$white: #fff;
$burgundy: #B54545;
// Config
var(--color-background): $gray-dark !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $white !default;
$color-text-accent: $gray-light !default;
$color-code: $gray-light !default;
$color-nav-link: $white !default;
$color-primary-link: $white !default;
$color-primary-underline: $gray !default;
$color-border: $gray-dark !default;


// Import sass partials (used in all themes)
@import "variables",
"base",
"components",
"utilities"
;