<!DOCTYPE html>
<html lang="en" ng-app="adgDashApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>-->
    <script src="../static/jquery-1.12.0.min.js"></script>

    <script src="../static/angular/angular/angular.min.js"></script>
    <script src="../static/angular/angular-route/angular-route.min.js"></script>
    <script src="../static/js/dash_app.js"></script>
    <script src="../static/js/dash_controller.js"></script>
	<meta name="theme-color" content="#22e675" />
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#22e675">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#22e675">
    <title>Dashboard</title>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="../static/js/location.js"></script>
</head>
<body ng-controller="profileCtrl">

</body>
</html>
