<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pic Upload</title>
    <script src="../static/jquery-1.12.0.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
<form action="/upload" method="post">
    <input type="file" name="photo"><br>
    <input type="date" name="date"><br>
    <textarea name="notes"></textarea><br>
    <input type="submit">
</form>
</body>
</html>