<html>
<head>
	<title>Login Page</title>
    <title>My Clean India</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <!--<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>-->
    <script src="../static/jquery-1.12.0.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <script src="../static/angular/angular/angular.min.js"></script>
    <script src="../static/angular/angular-route/angular-route.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/controller.js"></script>
    <meta name="theme-color" content="#22e675" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#22e675">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#22e675">
    <link rel="stylesheet" href="../static/login.css">
    <script src="../static/login.js"></script>
</head>
<body>
    <div class="container">
        <div class="row form">
            <form method="post" action="/uploadpage" class="col-md-6 col-md-offser-3 col-xs-6 col-xs-offset-3 col-lg-6 col-lg-offset-3 text-center">
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" value="Login" >
            </form>
        </div>
    </div>
</body>
</html>
