<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<title>Login for ADG_Hack</title>
	<style type="text/css">
	.form{
			position: relative; top: 200px;
	}
	.form-contents{
		background: lightblue; text-align: center;
	}

		.form-contents input{
			font-size: 24px; border: 0; padding: 10px;
		}
	</style>
</head>
<body>
<div class="container">
<div class="row form">
<div class="col-md-4 col-md-push-4 form-contents">
<form class="">
	<br>
	<input type="text" name="uname" id="uname" placeholder="Username"/><br><br>
	<input type="password" name="pwd" id="pwd" placeholder="Password"/><br><br>
	<input type="submit" value="Login"/><br><br>
</form>
</div>
</div>
</div>
</body>
</html>
